<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="{{ site.author }}">

  <meta property="og:site_name" content="{{ site.title }}"/>
  <meta property="og:title" content="{% if page.og_title %}{{ page.og_title }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
  <meta property="og:description" content="{% if page.og_description %}{{ page.og_description }}{% elsif page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>
  {% if page.og_image %}
  <meta property="og:image" content="{{ page.og_image | relative_url }}"/>
  {% endif %}

  <link rel="stylesheet" href="{{ '/styles.css' | relative_url }}">
  {% if site.goatcounter and site.goatcounter.site != "" %}
  <script data-goatcounter="{{ site.goatcounter.site }}/count" async src="//gc.zgo.at/count.js"></script>
  {% endif %}
</head>

<body>
  {{ content }}
</body>
</html>

